%h0 Visitor

%h1 Bulletin board
%label=link_to 'Bulletin Board'
%label=link_to 'About Us', visitors_about_path
%label=link_to 'Go Picking'
%label=link_to 'Home', root_path

%h2
%table#bulletin
  %thead
    %tr
      %th Date 
      %th Message
      %th Deadline
