= stylesheet_link_tag 's32'



%div#image
  =image_tag('s3-2.png')

%div#next
  = link_to image_tag('next.png'), 's32-1'





%div#v1
  //=image_tag('v.png')
  // %script{:type => "text/javascript", :src => "javascripts/s32"}
  // %script{:type => "text/javascript", :function changeImg(img, newimg) { img.src = "x.png";}
  //%script{:type => "text/javascript", :src => img src='v.png' onclick="this.src='x.png'"}

%div#v2

%div#x1

%div#x2
