html, body {  
  margin:0 auto;
  background-color:#8cc63f;
  background-repeat:no-repeat;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
  
}

div#banner {
  height: 25%;
  position: relative;
  margin: 0 auto;
}

div#main {
  margin-left: 300px;
  position: absolute;
  margin-top:17px;
  background-image:url(tea.png);
  width: 630px;
  height: 300px;
}


