html, body {  
  margin: 0;
  background-color:#8cc63f;
  #background-image:url(index.png);
  background-repeat:no-repeat;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

h1 {
 font-size:8pt;
 text-align:center;
}

div#banner {
  height: 25%;
}
div#enter {
  width: 30%;
  height: 60%;
  #margin-top: 25%;
  #margin-left: 2%;
  background-image:url(e-learning.png);
  background-repeat:no-repeat;
  position: absolute;
  top:30%;
  left:2%;
}
div#enter btn_enter {
  position: absolute;
  top:60%;
  left:10%;
  right:10%;
  bottom:15%;
}

div#login {
<<<<<<< HEAD
  background-image:url(member_login.png);
  background-repeat:no-repeat;
  width: 300px;
  height:150px;
=======
  
  width: 20%;
  height: 30%;
>>>>>>> f3e5733103cef53303e413b6c647d78043ef4369
  position: absolute;
  top:90%;
  left:2%;
}
div#login input {
  position: absolute;
  top:40%;
  left:2%;
}
div#login btn_login {
  position: absolute;
  top:60%;
  right:10px;
  left:65%;
  bottom:30px;
}

div#main {
  margin-left: 30%;
  position: absolute;
  top:34%;
  background: white;
  width: 630px;
  height: 470px;
}
table#bulletins {
  background: white;
  padding: 4px;
  text-align: left;
}
table#bulletins th {
  text-align: left;
  padding: 4px;
  border: 2px solid white;
  
}


